<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>All Campgrounds</title>
    </head>
    <body>
        <h1>All Campgrounds</h1>
        <ul>
            <% for (let camp of camps) { %>
            <li>
                <strong><%=camp.title %></strong>, <i><%=camp.location %></i>
                <a href="/campgrounds/<%=camp.id%>"><%= ">>" %></a>
            </li>
            <% } %>
        </ul>
        <button id="create-btn">Create New</button>
        <script>
            const createBtn = document.querySelector("#create-btn");
            createBtn.addEventListener("click", (evt) => {
                location.href = "/campgrounds/new";
            });
        </script>
    </body>
</html>
