<%layout("layouts/boilerplate")%>
<h1>Create New</h1>
<form action="/campgrounds" method="post">
    <input
        class="form-control"
        type="text"
        name="title"
        id="title"
        placeholder="Enter title..."
    />
    <br />
    <br />
    <input
        class="form-control"
        type="number"
        name="price"
        id="price"
        placeholder="Enter price..."
    />
    <br />
    <br />
    <textarea
        class="form-control"
        name="description"
        id="description"
        cols="30"
        rows="10"
        placeholder="Enter description"
    ></textarea>
    <br />
    <br />
    <select class="form-select" name="location" id="location">
        <% for (let city of cities) { %>
        <option value="<%= `${city.city}, ${city.state}`%>">
            <%= `${city.city}, ${city.state}`%>
        </option>
        <% } %>
    </select>
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Submit</button>
    <br />
    <br />
    <a class="btn btn-primary" href="/campgrounds"> All Campgrounds</a>
</form>
