<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Campground</title>
    </head>
    <body>
        <h1>Create New</h1>
        <form action="/campgrounds" method="post">
            <input
                type="text"
                name="title"
                id="title"
                placeholder="Enter title..."
            />
            <br />
            <br />
            <input
                type="number"
                name="price"
                id="price"
                placeholder="Enter price..."
            />
            <br />
            <br />
            <textarea
                name="description"
                id="description"
                cols="30"
                rows="10"
                placeholder="Enter description"
            ></textarea>
            <br />
            <br />
            <select name="location" id="location">
                <% for (let city of cities) { %>
                <option value="<%= `${city.city}, ${city.state}`%>">
                    <%= `${city.city}, ${city.state}`%>
                </option>
                <% } %>
            </select>
            <br />
            <br />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
